<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% if title is defined %}{{ title }} - {% endif %}Villermen.com, A Minecraft creative/survival server</title>
        <link rel="icon" type="image/x-icon" href="{{ path('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" href="{{ path('css/default.css') }}" />
        <script>
            {{ include('include/main.js.twig') }}
        </script>
    </head>
    <body>
        <div class="body">
            <div class="bannercontainer">
                <img
                    class="banner"
                    src="{{ path('img/banner-overlay.png') }}"
                    alt=""
                    style="background-image:url('{{ random_banner() }}')"
                />
                <div class='bannertext bannersubtitle'>A Minecraft creative/survival server</div>
                <div class='bannertext bannerversion'></div>
                <a href="{{ path('/online') }}" class="bannertext bannerplayers"></a>
            </div>
            <div class="hline"></div>
            <div class="navbarcontainer">
                <div class="navbarspacer"></div>
                <a class="navbarlink{% if request.pathInfo == '/' %} active{% endif %}" href="{{ path('/') }}">Home</a>
                <div class="navbarspacer"></div>
                <a class="navbarlink{% if request.pathInfo == '/worlds' %} active{% endif %}" href="{{ path('/worlds') }}">Worlds</a>
                <div class="navbarspacer"></div>
                <a class="navbarlink{% if request.pathInfo == '/commands' %} active{% endif %}" href="{{ path('/commands') }}">Commands</a>
                <div class="navbarspacer"></div>
                <a class="navbarlink{% if request.pathInfo == '/rules' %} active{% endif %}" href="{{ path('/rules') }}">Rules</a>
                <div class="navbarspacer"></div>
                <a class="navbarlink{% if request.pathInfo == '/donating' %} active{% endif %}" href="{{ path('/donating') }}">Donating</a>
                <div class="navbarspacer"></div>
                <a class="navbarlink" href="{{ path('/map/') }}">Map</a>
                <div class="navbarspacer"></div>
            </div>
            <div class="hline"></div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="hline"></div>
            <div class="footer">
                ©2011-{{ 'now'|date('Y') }} Villermen -
                <span title="Current server time ({{ 'now'|date('T') }})">{{ 'now'|date('G:i') }}</span> -
                <a href="{{ path('/contact') }}">contact</a> -
                <a href="{{ path('/webdev') }}">
                    <img class="webdevelopmenticon" alt="Webdev" src="{{ path('/img/chromefirefox.png') }}" />
                </a>
            </div>
        </div>
    </body>
</html>
